In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import sqlite3
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from math import sqrt
import os

In [3]:

os.listdir("C:/Users/282512/LF")
data = pd.read_csv('C:/Users/282512/LF/testss.csv', sep=',')
data1 = pd.read_csv('C:/Users/282512/LF/Book.csv', sep=',')
#delete the unwanted data
del data['25']
del data['Unnamed: 28']
data1.head()

   data
0     1
1     1
2     1
3     1
4     1

In [4]:
Load_filter = data['VTYPE'].str.contains('LOAD')
Temp_filter = data['VID'].str.contains('TEMP')
Hum_filter =  data['VID'].str.contains('HUM')
Load = data[Load_filter]
Temp = data[Temp_filter]
Hum = data[Hum_filter]
# Rename the index to match with Load index
#Temp_n = Temp.rename(lambda x: x - 751)
#Hum_n = Hum.rename(lambda x: x - 1502)
Load.shape

(751, 27)

In [5]:
rng = pd.date_range(start="6/20/2016", end="7/11/2018", freq='H')
rng.shape
data1 = pd.read_csv('C:/Users/282512/LF/Book.csv', sep=',')
data1.set_index(rng,inplace=True)
data1.shape

(18025, 1)

In [6]:
del Load['VID']
del Load['VTYPE']
del Load['DATE']
del Temp['VID']
del Temp['VTYPE']
del Temp['DATE']
del Hum['VID']
del Hum['VTYPE']
del Hum['DATE']

In [7]:
load_matrix = Load.as_matrix()
Temp_matrix = Temp.as_matrix()
Hum_matrix = Hum.as_matrix()

In [8]:
a = load_matrix[0]
b = Temp_matrix[0]
c = Hum_matrix[0]
for i in range(1,751):
    a = np.append(a,load_matrix[i])
    b = np.append(b,Temp_matrix[i])
    c = np.append(c,Hum_matrix[i])
    
a = np.append(a,0)
b = np.append(b,0)
c = np.append(c,0)
a

array([4772. , 4818. , 4877. , ..., 5650.2, 5736.3,    0. ])

In [9]:
data1['Load'] = pd.Series(a)
data1['Temp'] = pd.Series(b)
data1['Hum'] = pd.Series(c)
data1

                     data  Load  Temp  Hum
2016-06-20 00:00:00     1   NaN   NaN  NaN
2016-06-20 01:00:00     1   NaN   NaN  NaN
2016-06-20 02:00:00     1   NaN   NaN  NaN
2016-06-20 03:00:00     1   NaN   NaN  NaN
2016-06-20 04:00:00     1   NaN   NaN  NaN
2016-06-20 05:00:00     1   NaN   NaN  NaN
2016-06-20 06:00:00     1   NaN   NaN  NaN
2016-06-20 07:00:00     1   NaN   NaN  NaN
2016-06-20 08:00:00     1   NaN   NaN  NaN
2016-06-20 09:00:00     1   NaN   NaN  NaN
2016-06-20 10:00:00     1   NaN   NaN  NaN
2016-06-20 11:00:00     1   NaN   NaN  NaN
2016-06-20 12:00:00     1   NaN   NaN  NaN
2016-06-20 13:00:00     1   NaN   NaN  NaN
2016-06-20 14:00:00     1   NaN   NaN  NaN
2016-06-20 15:00:00     1   NaN   NaN  NaN
2016-06-20 16:00:00     1   NaN   NaN  NaN
2016-06-20 17:00:00     1   NaN   NaN  NaN
2016-06-20 18:00:00     1   NaN   NaN  NaN
2016-06-20 19:00:00     1   NaN   NaN  NaN
2016-06-20 20:00:00     1   NaN   NaN  NaN
2016-06-20 21:00:00     1   NaN   NaN  NaN
2016-06-20 22:00:00     1   NaN   NaN  NaN
2016-06-20 23:00:00     1   NaN   NaN  NaN
2016-06-21 00:00:00     1   NaN   NaN  NaN
2016-06-21 01:00:00     1   NaN   NaN  NaN
2016-06-21 02:00:00     1   NaN   NaN  NaN
2016-06-21 03:00:00     1   NaN   NaN  NaN
2016-06-21 04:00:00     1   NaN   NaN  NaN
2016-06-21 05:00:00     1   NaN   NaN  NaN
...                   ...   ...   ...  ...
2018-07-09 19:00:00     1   NaN   NaN  NaN
2018-07-09 20:00:00     1   NaN   NaN  NaN
2018-07-09 21:00:00     1   NaN   NaN  NaN
2018-07-09 22:00:00     1   NaN   NaN  NaN
2018-07-09 23:00:00     1   NaN   NaN  NaN
2018-07-10 00:00:00     1   NaN   NaN  NaN
2018-07-10 01:00:00     1   NaN   NaN  NaN
2018-07-10 02:00:00     1   NaN   NaN  NaN
2018-07-10 03:00:00     1   NaN   NaN  NaN
2018-07-10 04:00:00     1   NaN   NaN  NaN
2018-07-10 05:00:00     1   NaN   NaN  NaN
2018-07-10 06:00:00     1   NaN   NaN  NaN
2018-07-10 07:00:00     1   NaN   NaN  NaN
2018-07-10 08:00:00     1   NaN   NaN  NaN
2018-07-10 09:00:00     1   NaN   NaN  NaN
2018-07-10 10:00:00     1   NaN   NaN  NaN
2018-07-10 11:00:00     1   NaN   NaN  NaN
2018-07-10 12:00:00     1   NaN   NaN  NaN
2018-07-10 13:00:00     1   NaN   NaN  NaN
2018-07-10 14:00:00     1   NaN   NaN  NaN
2018-07-10 15:00:00     1   NaN   NaN  NaN
2018-07-10 16:00:00     1   NaN   NaN  NaN
2018-07-10 17:00:00     1   NaN   NaN  NaN
2018-07-10 18:00:00     1   NaN   NaN  NaN
2018-07-10 19:00:00     1   NaN   NaN  NaN
2018-07-10 20:00:00     1   NaN   NaN  NaN
2018-07-10 21:00:00     1   NaN   NaN  NaN
2018-07-10 22:00:00     1   NaN   NaN  NaN
2018-07-10 23:00:00     1   NaN   NaN  NaN
2018-07-11 00:00:00     1   NaN   NaN  NaN

[18025 rows x 4 columns]

In [10]:
for i in range (0,18025):
    data1.iloc[i,1] = a[i]
    data1.iloc[i,2] = b[i]
    data1.iloc[i,3] = c[i]
data1

                     data    Load  Temp   Hum
2016-06-20 00:00:00     1  4772.0  34.0  70.0
2016-06-20 01:00:00     1  4818.0  34.0  66.0
2016-06-20 02:00:00     1  4877.0  36.0  47.0
2016-06-20 03:00:00     1  4784.0  35.0  51.0
2016-06-20 04:00:00     1  4655.0  34.0  52.0
2016-06-20 05:00:00     1  4464.0  33.0  75.0
2016-06-20 06:00:00     1  4270.0  31.0  91.0
2016-06-20 07:00:00     1  4366.0  32.0  84.0
2016-06-20 08:00:00     1  4380.0  34.0  75.0
2016-06-20 09:00:00     1  4539.0  36.0  67.0
2016-06-20 10:00:00     1  4718.0  36.0  61.0
2016-06-20 11:00:00     1  4872.0  37.0  57.0
2016-06-20 12:00:00     1  4913.0  37.0  37.0
2016-06-20 13:00:00     1  5074.0  38.0  35.0
2016-06-20 14:00:00     1  5277.0  38.0  36.0
2016-06-20 15:00:00     1  5274.0  38.0  35.0
2016-06-20 16:00:00     1  5109.0  38.0  39.0
2016-06-20 17:00:00     1  4754.0  38.0  40.0
2016-06-20 18:00:00     1  4413.0  37.0  40.0
2016-06-20 19:00:00     1  4349.0  36.0  45.0
2016-06-20 20:00:00     1  4551.0  36.0  48.0
2016-06-20 21:00:00     1  4637.0  35.0  50.0
2016-06-20 22:00:00     1  4581.0  35.0  48.0
2016-06-20 23:00:00     1  4551.0  36.0  45.0
2016-06-21 00:00:00     1  4752.0  35.0  50.0
2016-06-21 01:00:00     1  4959.0  34.0  65.0
2016-06-21 02:00:00     1  4902.0  34.0  58.0
2016-06-21 03:00:00     1  4926.0  33.0  69.0
2016-06-21 04:00:00     1  4888.0  34.0  61.0
2016-06-21 05:00:00     1  4711.0  33.0  81.0
...                   ...     ...   ...   ...
2018-07-09 19:00:00     1  4870.1  37.4  54.3
2018-07-09 20:00:00     1  5119.7  37.4  36.8
2018-07-09 21:00:00     1  5303.0  38.0  35.6
2018-07-09 22:00:00     1  5509.5  37.8  38.7
2018-07-09 23:00:00     1  5760.9  37.6  31.5
2018-07-10 00:00:00     1  5900.9  37.6  37.0
2018-07-10 01:00:00     1  5824.0  34.7  67.1
2018-07-10 02:00:00     1  5612.6  35.3  49.4
2018-07-10 03:00:00     1  5605.0  36.4  30.8
2018-07-10 04:00:00     1  5578.2  36.5  26.5
2018-07-10 05:00:00     1  5344.6  35.1  29.4
2018-07-10 06:00:00     1  5030.2  35.3  28.4
2018-07-10 07:00:00     1  4971.2  37.3  28.7
2018-07-10 08:00:00     1  5123.1  34.7  78.6
2018-07-10 09:00:00     1  5240.8  36.5  54.6
2018-07-10 10:00:00     1  5303.5  38.3  44.1
2018-07-10 11:00:00     1  5414.7  38.5  48.3
2018-07-10 12:00:00     1  5517.2  37.4  59.3
2018-07-10 13:00:00     1  5752.7  35.3  76.2
2018-07-10 14:00:00     1  6055.0  36.0  59.2
2018-07-10 15:00:00     1  6250.9  38.4  41.1
2018-07-10 16:00:00     1  5994.8  38.7  38.6
2018-07-10 17:00:00     1  5386.8  38.4  39.3
2018-07-10 18:00:00     1  4873.3  38.0  37.3
2018-07-10 19:00:00     1  4937.0  36.7  49.4
2018-07-10 20:00:00     1  5352.9  36.8  40.0
2018-07-10 21:00:00     1  5505.5  36.3  45.3
2018-07-10 22:00:00     1  5650.2  36.5  42.5
2018-07-10 23:00:00     1  5736.3  33.3  75.6
2018-07-11 00:00:00     1     0.0   0.0   0.0

[18025 rows x 4 columns]

In [11]:
del data1['data']

In [12]:
LF1 = data1.dropna()
filter = LF1['Load']>100
LF = LF1[filter]

In [13]:
LF.index

DatetimeIndex(['2016-06-20 00:00:00', '2016-06-20 01:00:00',
               '2016-06-20 02:00:00', '2016-06-20 03:00:00',
               '2016-06-20 04:00:00', '2016-06-20 05:00:00',
               '2016-06-20 06:00:00', '2016-06-20 07:00:00',
               '2016-06-20 08:00:00', '2016-06-20 09:00:00',
               ...
               '2018-07-10 14:00:00', '2018-07-10 15:00:00',
               '2018-07-10 16:00:00', '2018-07-10 17:00:00',
               '2018-07-10 18:00:00', '2018-07-10 19:00:00',
               '2018-07-10 20:00:00', '2018-07-10 21:00:00',
               '2018-07-10 22:00:00', '2018-07-10 23:00:00'],
              dtype='datetime64[ns]', length=17478, freq=None)

In [14]:
LF.Load.resample('BH').mean()

ValueError: Values falls after last bin

In [40]:
LF.iloc[1]

Load    4818.0
Temp      34.0
Hum       66.0
Name: 2016-06-20 01:00:00, dtype: float64

In [17]:
LF.index.weekday()

TypeError: 'Int64Index' object is not callable

In [409]:
#Building the regression model
feature = ['Temp','Hum']
target=['Load']
X = LF[feature]
Y = LF[target]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=324)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_prediction = regressor.predict(X_test)
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))
print(RMSE)

474.67064666739753

(17479, 3)